*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
*.lib
*.opendb
*.db
*.ipch
*.bat
.vs/
Debug/
Release/
x64/
WoW64Injection/Debug/
WoW64Injection/Release/
WoW64Injection/x64/
TestDll/Debug/
TestDll/Release/
TestDll/x64/